@font-face {
    font-family:Arial, Helvetica, sans-serif;
    src: url('./font/helvetica-neu.ttf')
}

body {
    background-color: #8c3b0c;
}

.card {
    background-image: url('./images/coffee-bg.jpg');
}