$fonts: Helvetica, sans-serif;
$primary-color: #f4d2a0;
$secondary-color: #085b5b;
$tertiary-color: #ffffff;

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;
    width: 857px;
    height: auto;
    background-image: url('../images/coffee-bg.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: $tertiary-color;
    font-family: $fonts;
    background-color: $secondary-color;
}

h1 {
    border: 1px solid $secondary-color;
}

.search {
    padding-bottom: 15px;
}
.searchbar {
    padding: 7px;

}

.card {
    background-color: $primary-color;
    display: flex;
    width: 480px;
    height: 480px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $fonts;
}

.temp-container {
    font-family: $fonts;
    align-items: center;
    color: $tertiary-color;
    justify-content: center;
    display: inline-flex;
    text-align: center;
    background-color: $secondary-color;
    padding: 0 7px;
    margin: 15px;
    border-radius: 10px;
}

.weather {
    padding-right: 10px;
}

.coffee-container {
    color: $secondary-color;
    justify-content: center;
}

button {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    border-radius: 10px;
    padding: 5px 7px;
    font-size: 18px;
    align-items: center;
}

.pick-coffee {
    background-color: $secondary-color;
    color: $primary-color
}

.random {
    background-color: $secondary-color;
    color: $primary-color
}


